<%- include("header") -%>

    <h1>Sign In</h1>
    <div class="option phonelogin"><img width="40" height="40" src="https://img.icons8.com/color/96/apple-phone.png" alt="apple-phone"/>Sign in with phone</div>
    <div class="option emaillogin"><img width="40" height="40" src="https://img.icons8.com/doodle/48/new-post.png" alt="new-post"/>Sign in with email</div>
    <a class="nona" href="/auth/google"><div class="option"><img width="40" height="40" src="https://img.icons8.com/color/96/google-logo.png" alt="google-logo"/>Sign in with Google</div></a>
    <a class="nona" href="/auth/facebook"><div class="option"><img width="40" height="40" src="https://img.icons8.com/fluency/96/facebook.png" alt="facebook"/>Sign in with Facebook</div></a>
    <div>New here? <a href="/signup">Create an account</a></div>

<%- include("footer") -%>
