<%- include("header") -%>

    <h1>Create an account</h1>
    <div class="option phonesignup"><img width="40" height="40" src="https://img.icons8.com/color/96/apple-phone.png" alt="apple-phone"/>Sign up with phone</div>
    <div class="option emailsignup"><img width="40" height="40" src="https://img.icons8.com/doodle/48/new-post.png" alt="new-post"/>Sign up with email</div>
    <a class="nona" href="/auth/google"><div class="option"><img width="40" height="40" src="https://img.icons8.com/color/96/google-logo.png" alt="google-logo"/>Sign up with Google</div></a>
    <a class="nona" href="/auth/facebook"><div class="option"><img width="40" height="40" src="https://img.icons8.com/fluency/96/facebook.png" alt="facebook"/>Sign up with Facebook</div></a>
    <div>Have an account? <a href="/login">Sign In</a></div> 

<%- include("footer") -%>